body{
  padding-top: 2em;
}
.path-page{
  margin-top: 2em;
}
.create-icon i{
  position: relative;
  top: -7px;
} 
.ui.paths-list .row .column{
  margin-bottom: 1em;
}
.progress-popup{
  width: 200px;
}
.progress-popup .header{
  margin: 10px;
}
.status-dropdown{
  margin: 0 5px;
}
.clickable-item{
  cursor: pointer;
  display: inline-block;
}